/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Left Section */
.bg-white {
  background-color: #ffffff;
}

/* Right Section */
.bg-primary {
  background: linear-gradient(135deg, #0046ff, #a64eff);
  color: #ffffff;
}

/* Buttons */
.btn-primary {
  background-color: #4a47f5;
  border-color: #4a47f5;
}

.btn-primary:hover {
  background-color: #3733d5;
  border-color: #3733d5;
}

.btn-light {
  color: #555;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

.bold-text{
  font-size: 100px;
  font-weight: 100px;
}